<%= map(:center => {
  :latlng => [51.52238797921441, -0.08366235665359283],
  :zoom => 18
  }) %>


<p id="notice"><%= notice %></p>

<h1 class="bg-dark text-light">Flights</h1>

<p>
  <strong>Departure:</strong>
  <%= @flight.departure %>
</p>

<p>
  <strong>Arrival:</strong>
  <%= @flight.arrival %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @flight.destination %>
</p>

<p>
  <strong>Baggage allowance:</strong>
  <%= @flight.baggage_allowance %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @flight.capacity %>
</p>

 <% #render "name of partial", local_variable: database_finder %>                    
<%= render 'seat_index', seats: @flight.seats %>

<% if @flight.seats.length < @flight.capacity then %>
    <%= render 'seat_form', seat: Seat.new, flight_id: @flight.id %>
<% else %>
    FLIGHT IS FULL
<% end %>



<%= link_to 'Edit', edit_flight_path(@flight) %> |
<%= link_to 'Back', flights_path %>