<div class="card" style="width: 100%;">
                <img class="card-img-top" src="<%=image%>">

             <div class="card-body">
                <h5 class="card-title"> <%= card_title%></h5>

                <p class="card-text">
                <%= card_text %>
                </p>

                <a href="<%= link %>" class="btn btn-primary"> 
                <%= button_text %>
                </a>
            </div>
</div>
